# Environnement virtuel
venv/
.venv/
env/

# Variables d'environnement (Sécurité !)
.env
.env.local

# Cache Python
__pycache__/
*.py[cod]

# Frontend (si tu as du Node.js/React dans le même dossier)
node_modules/
build/
dist/

# Bases de données locales (Fichiers de données)
*.sqlite
*.sqlite3
*.db
*.dump

# Fichiers système
.DS_Store
Thumbs.db
# Fichiers binaires et exécutables
*.exe
*.dll
*.so